.container {
  display: flex;
  background-color: #f4f7fa;
  padding: 2rem;
  margin: 200px auto auto auto;
}

.child {
  border: 1px solid red;
  background:#ffffff;
}

.btn-section {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  padding: 0;
}
.btn {
  padding: 10px;
  background-color: chocolate;
  border: none;
  border-radius: 4.6px;
  transition: 0.2s;
  color: white;
  background: #0a84ff;
}
